* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/_D5D2070.jpg");
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
}

.dzo_logo {
    width: 25px;
    height: 25px;
}

#footer {
    background: #e60000;
    width: 100%;
    height: auto;
    text-align: center;
    border-top: solid 1.5px #000000;
    clear: both;
    color: #000000;
    border-bottom-color: #000000;
    font-size: 20px;
    margin-top: 90px;
    padding-bottom: 2px;
    bottom: 0;
}

.footer_text {
    padding-bottom: 10px;
}

.aboutme {
    color: #DAD4D5;
}

.powerful {
    text-align: center;
    float: left;
    margin-left: 200px;
    margin-top: 25px;
    color: #000000;
}

.logo {
    text-align: center;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

.para {
    color: #F3EDEE;
    font-size: 25px;
}


/*meet the team*/

.team {
    display: block;
    width: 100%;
    height: auto;
}

.biopic {
    /*align: center;*/
    width: 15%;
    height: 15%;
}

.h1 {
    color: #DAD4D5;
    ;
}

#links {
    color: red;
    font-size: 25px;
}

.splash {
    /* Width and height of splash screen */
    height: 100vh;
    width: 100px;
    /* Remove from document flow and allow <div> to float on top */
    position: absolute;
    z-index: -1;
}

.splash>.image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fadeInOut 5s infinite;
}

.splash>.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.splash img {
    position: absolute;
    top: 0;
    /* Cover the entire container */
    object-fit: cover;
    /* Note: Aspect ratio is preserved because height is auto by default */
    width: 100%;
    height: 100%;
    /* Swap out image; each gets 5s */
    animation: imageSwap 50s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes imageSwap {
    0% {
        /* Show the image */
        height: 100%;
    }
    10% {
        height: 100%;
    }
    10.00000001% {
        /* Hide the image */
        height: 0;
    }
    100% {
        height: 0;
    }
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */

@media screen and (min-width: 601px) {
    .container {
        font-size: 25px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    .container {
        font-size: 30px;
    }
}


/*menu css from previous version*/


/*menu bar start
.menu {
    float: right;
    margin-right: 220px;
    word-spacing: 25px;
    margin-top: 30px;
    font-weight: bold;

}

.right {
    display: inline;
}

.right>a {
    position: relative;
    color: #000000;
    text-decoration: none;
}

.right>a:hover {
    color: rgb(24, 194, 186);
}

.right>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(24, 194, 186);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.right>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.v1,
.v2 {
    position: relative;
    border-left: solid 1px #000000;
    display: inline;
    word-spacing: 25px;
    right: 15px;
}
*/


/*menu bar end*/